@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --app-pink: #f82f9e;
  --app-blue: #ffffff;
  --app-dark: #000000;
  --app-font: "Fredoka One", cursive;
}

body {
  background-color: var(--app-pink);
  font-family: "Programme", sans-serif;
}

/* Variante Regular (Normal) */
@font-face {
  font-family: "Programme";
  src: url("./fonts/Programme-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variante Light */
@font-face {
  font-family: "Programme";
  src: url("./fonts/Programme-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Variante Bold */
@font-face {
  font-family: "Programme";
  src: url("./fonts/Programme-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variante Regular Italic */
@font-face {
  font-family: "Programme";
  src: url("./fonts/Programme-RegularIta.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
