@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

:root {
  --app-pink: #ff76c4; /* O el código hexadecimal exacto del rosa */
  --app-blue: #a3e3ff; /* O el código hexadecimal exacto del azul */
  --app-dark: #000000;
  --app-font: "Fredoka One", cursive;
}

body {
  background-color: var(--app-pink);
  font-family: sans-serif; /* Fuente base para el texto normal */
}

.text-shadow {
  text-shadow: 3px 3px 0px var(--app-dark);
}

/* Variante Regular (Normal) */
@font-face {
  font-family: "Programme";
  src: url("/fonts/Programme-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Variante Light */
@font-face {
  font-family: "Programme";
  src: url("/fonts/Programme-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

/* Variante Bold */
@font-face {
  font-family: "Programme";
  src: url("/fonts/Programme-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Variante Regular Italic */
@font-face {
  font-family: "Programme";
  src: url("/fonts/Programme-RegularIta.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}
